*{
    background-color: rgb(255, 230, 0);
    font-family: 'Ubuntu', sans-serif;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* padding-left: 20px;
    padding-right: 20px; */
    border-radius: 5px;
    padding-top: 75px;
}
  
li {
    float: left;
    align-content: center;
}
  
li a {
    display: block;
    padding: 20px;
    background-color: #42f03c;
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
}
a:hover{
    border-radius: 25px;
    background-color: green;

}
#company{
    color: white;
    /* padding-left: 50px; */
    border: 5px solid #42f03c;
    background-color: #42f03c;
    border-radius: 5px;
    text-align: center;
    margin-left: 1px;
    margin-top: -73px;
    margin-bottom: 2px;
    padding: 19px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.para1 p{
    color: #ff3c0f;
    /* border: 7px solid #42f03c; */
    /* background-color: #42f03c;  */
    margin-top: 130px;
    margin-left: 100px;
    font-size: 23px;
}
.para1 img{
    padding-left: 90px;
}

.para2{
    color: #ff3c0f;
    /* border: 7px solid #42f03c; */
    /* background-color: #42f03c; */
    margin-top: 130px;
    margin-left: 100px;
    font-size: 23px;
    /* margin-left: 15px; */
    padding-right: 50px;
    text-align: right;
}


.nav{
    background-color: #42f03c;
    
}